body {
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.resultado {
    color: red;
    background-color: rgb(151, 154, 150);
    display: inline;
    border-radius: 30px;
    padding: 5px;
    border: solid black;
    margin: 15px;
}

.calculadora {
    border: solid black 5px;
    padding: 10px;
}



